.logo {
  position: fixed;
  top: 10px;
  right: 10px;
}

.leftbar {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
