<div class="details panel panel-info">
    <div class="panel-heading">{{ node.name }}</div>
    <div class="panel-body">
        <div class="url" ng-if="node.urls">
            <h5>相关网址</h5>
            <ul>
              <li ng-repeat="url in node.urls">
                <a href="{{ url }}" target="_blank">{{ url }}</a>
              </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.detail.topsubs">
            <h5>未完成</h5>
            <ul>
                <li ng-repeat="topsub in node.detail.topsubs">
                    {{ topsub }}
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.books">
            <h5>相关书籍</h5>
            <ul>
                <li ng-repeat="book in node.books">
                    《{{ book }}》
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.detail.techkeys">
            <h5>技术关键词</h5>
            <ul>
                <li ng-repeat="key in node.detail.techkeys">
                    {{ key }}
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.detail.deadline">
            <h5>截止日期</h5>
            <ul>
                <li>
                    {{ node.detail.deadline }}
                </li>
            </ul>
        </div>

        <div class="comments panel panel-default" ng-if="node.comment">
            <h5>详细</h5>
            <div class="panel-body">{{ node.comment }}</div>
        </div>

    </div>
</div>
