<div class="details panel panel-info" ng-if="node">
    <div class="panel-heading">{{ node.name }}</div>
    <div class="panel-body">

        <div class="properties" ng-if="node.unfinishedJobs">
            <h5>未完成事项</h5>
            <ul>
                <li ng-repeat="job in node.unfinishedJobs">
                    {{ job.name }}<code ng-if="job.detail.deadline">:{{job.detail.deadline}}</code>
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.finishedJobs">
            <h5>已完成事项</h5>
            <ul>
                <li ng-repeat="job in node.finishedJobs">
                    {{ job.name }}<code ng-if="job.detail.deadline"></code>
                </li>
            </ul>
        </div>

        <div class="comments panel panel-default" ng-if="node.detail.comment">
            <h5>详细</h5>
            <div class="panel-body">{{ node.detail.comment }}</div>
        </div>

    </div>
</div>
